<html>

<head>
    <meta charset="utf-8">
    <title>mettemett | home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.5/dist/css/bootstrap.min.css"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li class="active"><a href="/add">Add</a></li>
                    <li><a href="/search">Search</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Add meassurement</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label for="meassure_name">Name:</label>
            </div>
            <div class="col-sm-3">
                <input type="text" id="meassure_name" name="meassure_name">
            </div>
            <div class="col-sm-3">
                <small id="name_help" class="form-text text-muted">Name your meassurement</small>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label for="meassure_value">Value:</label>
            </div>
            <div class="col-sm-3">
                <input type="text" id="meassure_value" name="meassure_value">
            </div>
            <div class="col-sm-3">
                <small id="value_help" class="form-text text-muted">How long was the thing you
                    meassured?</small>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label for="meassure_unit">Unit:</label>
            </div>
            <div class="col-sm-3">
                <select name="Unit" id="meassure_unit">
                    <option value="cm">cm</option>
                    <option value="mm">mm</option>
                    <option value="m">m</option>
                    <option value="km">km</option>
                </select>
            </div>
            <div class="col-sm-3">
                <small id="unit_help" class="form-text text-muted">What unit is the meassurement in?</small>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <button type="button" class="btn btn-primary" id="add_meassurement">Add meassurement</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="alert alert-danger" id="input_alert" style="display: none" role="alert">
                    Error submitting meassurement!
                </div>
                <div class="alert alert-success" id="input_success" style="display: none" role="alert">
                    Success!
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.5/dist/js/bootstrap.min.js"
        crossorigin="anonymous"></script>
</body>
<script src="add.js"></script>

</html>